<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="customs_center_portal_menu" name="关务中心2"/>

    <menuitem id="making_document_menu" string="Making Document" name="通关制单" parent="customs_center_portal_menu"
              sequence="10"/>
    <menuitem id="customs_order" string="Customs Order" name="通关清单" parent="making_document_menu"
              sequence="20" action="customs_order_action"/>
    <menuitem id="import_customs_declaration" string="Import Customs Declaration" name="进口报关单"
              parent="making_document_menu"
              sequence="34" action="import_customs_declaration_action"/>
    <menuitem id="export_customs_declaration" string="Export Customs Declaration" name="出口报关单"
              parent="making_document_menu"
              sequence="36" action="export_customs_declaration_action"/>

    <menuitem id="sync_customs_declaration" string="Sync Customs Declaration" name="协同报关单" parent="making_document_menu"
              sequence="38" action="sync_customs_declaration_action"/>


    <menuitem id="goods_classification_menu" string="goods classification menu" name="商品归类"
              parent="customs_center_portal_menu"
              sequence="12"/>
    <menuitem id="goods_classification" string="goods classification" name="商品归类" parent="goods_classification_menu"
              sequence="40" action="action_goods_classification"/>
    <menuitem id="pending_review_goods" string="pending review goods" name="待审核" parent="goods_classification_menu"
              sequence="45" action="action_pending_review_goods"/>

    <menuitem id="settings_dec_menu" string="Settings Declaration" name="设置" parent="customs_center_portal_menu"
              sequence="15"/>
    <menuitem id="setting_declaration" name="报关通道设置" parent="settings_dec_menu" sequence="40"
              action="setting_declaration_action"/>
</odoo>