<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="customs_center_menu" name="关务中心" web_icon="customs_center,static/description/icon.png" />
    <menuitem id="sw_making_document_menu" string="Makeing Document" name="通关" parent="customs_center_menu" sequence="10"/>
       <menuitem id="sw_customs_order" string="Customs Order" name="通关清单" parent="sw_making_document_menu"
          sequence="20" action="action_customs_order"/>
       <menuitem id="sw_customs_declaration" string="Customs Declaration" name="报关单" parent="sw_making_document_menu"
          sequence="30" action="action_customs_declaration"/>
    <menuitem id="sw_settings_dec_menu" string="Settings Declaration" name="设置" parent="customs_center_menu" sequence="15"/>
        <menuitem id="your_settings_menu" name="企业信息" parent="sw_settings_dec_menu" sequence="40" action="your_settings_action"/>
</odoo>