<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="customs_center_menu" name="关务中心" web_icon="customs_center,static/description/icon.png" />
    <menuitem id="sw_making_document_menu" string="Makeing Document" name="通关" parent="customs_center_menu" sequence="10"/>
       <menuitem id="sw_customs_order" string="Customs Order" name="通关清单" parent="sw_making_document_menu"
          sequence="20" action="action_customs_order"/>
       <menuitem id="sw_customs_declaration" string="Customs Declaration" name="报关单" parent="sw_making_document_menu"
          sequence="30" action="action_customs_declaration"/>

    <menuitem id="sw_goods_classification_menu" string="goods classification menu" name="商品归类" parent="customs_center_menu" sequence="12"/>
       <menuitem id="sw_goods_classification" string="goods classification" name="商品归类" parent="sw_goods_classification_menu"
          sequence="32" action="action_goods_classification"/>
       <menuitem id="sw_pending_review_goods" string="pending review goods" name="待审核" parent="sw_goods_classification_menu"
          sequence="34" action="action_pending_review_goods"/>
       <menuitem id="sw_pending_classified_goods" string="pending classified goods" name="待归类" parent="sw_goods_classification_menu"
          sequence="36" action="action_pending_classified_goods"/>

    <menuitem id="sw_settings_dec_menu" string="Settings Declaration" name="设置" parent="customs_center_menu" sequence="15"/>
        <menuitem id="setting_declaration" name="企业信息" parent="sw_settings_dec_menu" sequence="40" action="setting_declaration_action"/>
</odoo>